[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ibm-watson = "*"
ibm-cloud-sdk-core = "*"
wave = "*"
configparser = "*"
auto-py-to-exe = "*"
speechrecognition = "*"
googletrans = "*"
setuptools = "*"
watchdog = "*"
flask = "*"
scipy = "*"
numpy = "*"
sounddevice = "*"
pynput = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp37-cp37m-win_amd64.whl"}
soundfile = "*"

[requires]
python_version = "3.7.3"
